/* Target the search button more specifically */
nav .DocSearch-Button {
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
}

nav .DocSearch-Button:hover {
  background-color: #e0e0e0;
}

nav .DocSearch-Button-Placeholder {
  font-style: italic;
  color: #888;
}

.DocSearch-Modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.DocSearch-Modal a {
  color: #00bfa5;
}

.sidebar-heading {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  margin: 36px 0px 16px 12px;
}

.custom-sidebar-item {
  font-size: 14px;
  font-weight: 400;
  color: #d40c0c;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}
th, td {
    width: 50%;
    background: #29292994;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
